.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & h2 {
    margin: 0;
  }
  & h1 {
    font-size: 4rem;
  }
}

.rightAlignedTitle {
  text-align: start;
}

.leftAlignedFooter {
  text-align: end;
}
